/*menu Css code*/

.menu-containter {
    color: white;
    background-color: #1A1C1A;
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
}

.menu {
    width: 100%;
    display: flex;
    text-decoration: none;
}

.logo {
    font-size: 32px;
    color: red;
    display: flex;
    justify-content: flex-start;
    padding: 10px 0;
    background-color: #1A1C1A;
    margin-right: 300px;
}

/* Navbar container */
.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial sans-serif;
}

/* Links inside the navbar */
.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* The dropdown container */
.dropdown {
    float: left;
    overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #555854;
    color: white;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content ul {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content li {
    float: none;
    color: black;
    padding: 0 30px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content h3{
    color: black;
    padding: 12px 16px;
}


/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

.search-container form {
    display: flex;
    flex-direction: column;
}

.search-container button {
    background-color: #4CAF50;
    margin: 8px 0;
    padding: 12px 20px;
    color: black;
    border: none;
    cursor: pointer;
}

.search-container input[type=text] {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    text-decoration-color: white;
    background-color: lightgray;
}

.search-container button:hover {
    opacity: 0.8;
}

.search-container label {
    color: black;
}

.genreSelectie form {
    margin-top: 10px;
    display: flex;
    align-content: space-around;
    flex-direction: column;
    color: black;
}

.genreSelectiee, form select option {
    background-color: lightgray;
}

.genreSelectie button {
    background-color: #4CAF50;
    margin: 8px 0;
    padding: 10px 10px;
    color: black;
    border: none;
    cursor: pointer;
}

.genreSelectie form select, label{
    margin-bottom: 10px;
}

.inline select option{
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.inline label {
    margin: 0 20px;
}

.inline select {
    width: 70%;
}

.account {
    display: flex;
    justify-content: flex-end;
    width: 85%;
}